<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= @erbHelper.linkToObject("Report Main", @otrunkHelper.rootObject, $report_section_view) %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h2>Activity: <%= @activity.title %></h2>
  
  <h3>Model Activity Data</h3>
  
  <table class="report_table">
    <% question_correct = {}; question_answered = {}; num_users = 0; gradable_questions = 0 %>
      
    <tr bgcolor="<%= ROWCOLOR1 %>">
      <th rowspan="2"></th>
      <% models = @activity.sectionModels(@activity.activity) %>
      <% models.each do |model| %>
        <% if modelReporterClass(model) %>
          <% puts model.otExternalId %>
          <th colspan="<%= modelReporterClass(model).num_fields %>" style="text-align: left;">
            Model <%= modelReporterClass(model).model_name %>
          </th>
         <% end %>
      <% end %>
    </tr>
    <tr bgcolor="<%= ROWCOLOR2 %>">
      <% models.each do |model| %>
        <% if modelReporterClass(model) %>
          <%= modelReporterClass(model).report_header %>
        <% end %>
      <% end %>
    </tr>
    
    <% line_toggle = true %>
    <% @otrunkHelper.users.each do |user| %>
      <% num_users += 1 %>
      <tr bgcolor="<%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>">
        <% line_toggle = !line_toggle %>
        <td><%= user.name %></td>
        <% models.each do |model| %>
          <% if modelReporterClass(model) %>
            <% userModel = @otrunkHelper.userObject(model, user) %>
            <% unless userModel.modelActivityData %>
              <% modelReporterClass(model).num_fields.times do %>
                <td></td>
              <% end %>
              <% next %>
            <% end %>
            <%= createModelReporter(userModel).report_row %>
           <%end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>